@{
    ViewData["Title"] = "Đăng nhập";
}

<h2>Đăng nhập</h2>


<!-- Thông báo lỗi -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form method="post" action="@Url.Action("Login", "Login")">
    <div class="form-group">
        <label for="TenTK">Tên tài khoản:</label>
        <input type="text" id="TenTK" name="TenTK" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="MatKhau">Mật khẩu:</label>
        <input type="password" id="MatKhau" name="MatKhau" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
